:root {
    --bg: #1a1a1a;
    --txt: #ffebeb;
    --accent1: #b24c45;
    --accent2: #b44a6d;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;

    background-color: var(--bg);
    color: var(--txt);
}
