.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
    height: 30vh;
}

.logo {
    display: flex;
    font-size: 1em;
    align-items: center;
    font-size: 2em;

    letter-spacing: 0.1em;
    margin: 1em;
    text-align: center;
    color: var(--accent1);
    font-weight: bold;
}

.input-text, .input-button {
    display: flex;
    flex: 1;
    max-width: 80%;
    max-height: 80%;

    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 0.5em;
    border-radius: 15px;
    margin-bottom: 1em; 
    background-color: var(--accent1);
    color: var(--txt);
    caret-color: var(--txt);
    outline: none;
    border: none;

    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input-text:focus {
    background-color: var(--accent2);
}
.input-button:hover {
    background-color: var(--accent2);
    transform: scale(1.2);
}

.signup-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.signup-container p {
    margin-right: 1em;
}

a {
    text-decoration: none;
    color: var(--txt);
}
/* overrides the default yellow input boxes */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {

    background-color: var(--accent1) !important;
    color: var(--txt) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--accent1) inset !important;
    -webkit-text-fill-color: var(--txt) !important;
}

@media screen and (max-width: 760px) {
    *{
        font-size: 0.9em;
    }

    .login-form {
        width: 90vw;
        height: 40vh;
    }

    .input-text, .input-button {
        padding: 0.2em;
    }
}