.calendar {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid  var(--txt);
    border-radius: 8px;
    background-color: var(--bg);
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .month-button {
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: var(--txt);
    background-color: var(--bg);
  }
  
  h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .calendar-grid {
    display: flex;
    flex-direction: column;
  }
  
  .calendar-day-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    margin-bottom: 5px;
    justify-content: center;
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }

  .calendar-day-empty {
    background-color: transparent; 
    cursor: default;
    box-shadow: none;
  }
  
  .calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--bg);
    border-radius: 4px;
    cursor: pointer;
    color: var(--accent2);
  }
  
  .calendar-day.empty {
    background-color: transparent;
  }
  
  .calendar-day:hover {
    background-color: var(--accent2);
    color: var(--txt);
  }
  