.booking-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100%;
    overflow-y: scroll;
    padding-left: 1.5em;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    color: var(--accent1);
    font-weight: bold;
}
.copy {
    display: flex;
    justify-content: center;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;

}
.booking-info{
    margin-left: 30%;
}

  

