.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  padding: 1em 2em;
  height: 50px;
  font-family: monospace;

}

.navbar-left {
  display: flex;
  align-items: center;
}

img.navbar-logo {
  height: 120px;
  width: 120px;
  margin-right: 1em; 
}

.navbar-title {
  font-size: 1.5em; 
  color: var(--accent2);
  display: flex;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  font-family: monospace;
}

.navbar-right {
  display: flex;
  gap: 2em;
  align-items: center;

}

.navbar-link {
  font-size: 1em;
  color: var(--txt);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: var(--accent1);
}

.navbar-link.active {
  color: var(--accent1);
  font-weight: bold;
}

.navbar-right .logout-button {
  background-color: var(--accent2);
  color: var(--txt);
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  text-decoration: none;
}

.navbar-right .logout-button:hover {
  background-color: var(--accent1);
}
